[submodule "lib/moonlight"]
	path = lib/moonlight
	url = https://github.com/acmiyaguchi/moonlight-common-c.git
[submodule "lib/curlcpp"]
	path = lib/curlcpp
	url = https://github.com/acmiyaguchi/curlcpp.git
